.portfolio-container {
display: flex;
padding: 20px;

color: white;
font-family: Arial, sans-serif;
}


.sidebar {
width: 28%;
background: #111;
padding: 20px;
border-radius: 20px;
margin-right: 20px;
}


.profile-card {
text-align: center;
}


.avatar {
width: 120px;
height: 120px;
border-radius: 50%;
margin-bottom: 15px;
}


.role {
display: inline-block;
margin: 10px 0;
background: #333;
padding: 5px 15px;
border-radius: 10px;

}


.cv-btn {
background: rgb(136, 135, 133);
border: none;
padding: 5px 10px;
margin-top: 10px;
border-radius: 10px;
cursor: pointer;
}


.info-block {
text-align: center;
margin-top: 20px;
}


.content {
width: 72%;
background: #111;
padding: 30px;
border-radius: 20px;
}


.grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
margin-top: 20px;
}


.card {
background: #1a1a1a;
padding: 20px;
color: white;
border-radius: 15px;
box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}